/* Akrobate variables */
$theme-color: #ffc60b;
$text-color: #444444;
$text-color-secondary: #545E6C;
$text-grey: #97AAC3;
$divider: #e8e8e8;
$lighter-grey: #feffdb;
$darker-grey: #666;
$smoky-white: #f5f5f5;
$heart: #fb866a;
